<div class="update-content">
    You are logged in as <span id="user-email">{{user.email}}</span>.
    <a href="#" class="user-logout" ng-click="logout()">Log out</a>
</div>
<div class="update-content" ng-init="currentFolder = { folder: 'All' }">
    <span
        ng-class="{
            'selected': currentFolder.folder === folder && folders.length !== 1,
            'folder-tag': folders.length !== 1
        }"
        ng-repeat="folder in folders"
        ng-click="currentFolder.folder = folder">
            {{ folders.length === 1
                   ?
               'You have no saved posts yet!'
                   :
               folder === 'All' ? folder : '#' + folder }}
    </span>

</div>
<div class="update-content"
     ng-repeat="post in posts | reverse"
     ng-show="post.folder === currentFolder.folder || currentFolder.folder === 'All'">
    <div class="service-logo service-logo--{{post.service}}"></div>
    <div class="message">
        {{post.comment}}
    </div>
    <div class="attachments">
        <div class="attachment link">
            <div class="link-thumbnail">
                <img src="{{post.imageSources[0]}}">
            </div>

            <div class="link-meta ">
                <a class="link-title" href="{{post.url}}" target="_blank">{{post.title}}</a>
                <a class="link-url" href="{{post.url}}" target="_blank">{{post.url}}</a>

                <p class="link-description">{{post.text | limitTo: 200}}</p>
            </div>
        </div>
    </div>
</div>
